
refData/Tb927_genome.fasta

countStat.txt

fastqc_output_fastqc.html

fastqc_output_fastqc.zip

interVar/216_L8.sam

interVar/216_L8.sam.bam

interVar/216_L8.sam.bam.sorted

interVar/216_L8.sam.bam.sorted.bai

interVar/216_L8.sam.bam.sorted.txt

interVar/218_L8.sam

interVar/218_L8.sam.bam

interVar/218_L8.sam.bam.sorted

interVar/218_L8.sam.bam.sorted.bai

interVar/218_L8.sam.bam.sorted.txt

interVar/219_L8.sam

interVar/219_L8.sam.bam

interVar/219_L8.sam.bam.sorted

interVar/219_L8.sam.bam.sorted.bai

interVar/219_L8.sam.bam.sorted.txt

interVar/220_L8.sam

interVar/220_L8.sam.bam

interVar/220_L8.sam.bam.sorted

interVar/220_L8.sam.bam.sorted.bai

interVar/220_L8.sam.bam.sorted.txt

interVar/221_L8.sam

interVar/221_L8.sam.bam

interVar/221_L8.sam.bam.sorted

interVar/221_L8.sam.bam.sorted.bai

interVar/221_L8.sam.bam.sorted.txt

interVar/222_L8.sam

interVar/222_L8.sam.bam

interVar/222_L8.sam.bam.sorted

interVar/222_L8.sam.bam.sorted.bai

interVar/222_L8.sam.bam.sorted.txt

refData/Tb927_genome.fasta.index.1.bt2

refData/Tb927_genome.fasta.index.2.bt2

refData/Tb927_genome.fasta.index.3.bt2

refData/Tb927_genome.fasta.index.4.bt2

refData/Tb927_genome.fasta.index.rev.1.bt2

refData/Tb927_genome.fasta.index.rev.2.bt2

*.gz

*.html
